{% extends "base.html" %}
{% block title %}Add Website{% endblock title %}
{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'coupon_checker:coupon_checker' %}" class="text-light">Coupon Checker</a></li>
<li class="breadcrumb-item"><a href="{% url 'coupon_checker:websites' %}" class="text-light">Websites</a></li>
<li class="breadcrumb-item active" aria-current="page">Add Website</li>
{% endblock breadcrumb %}

{% block content %}
<div class="container mt-4">
  <h2>Add Website</h2>
  <form method="post" novalidate>
      {% csrf_token %}

      <div class="mb-3">
          <label for="{{ form.name.id_for_label }}" class="form-label">Website Name <span class="text-danger">*</span></label>
          {{ form.name }}
          {% if form.name.errors %}
              <div class="text-danger">{{ form.name.errors }}</div>
          {% endif %}
      </div>


      <div class="mb-3">
          <label for="{{ form.url.id_for_label }}" class="form-label">Website URL <span class="text-danger">*</span></label>
          {{ form.url }}
          {% if form.url.errors %}
              <div class="text-danger">{{ form.url.errors }}</div>
          {% endif %}
      </div>


      <button type="submit" class="btn btn-primary">Add Website</button>
  </form>
</div>
{% endblock content %}